* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  background-color: #0f172a;
  color: #1E293B;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 50%;
}

.inp-container {
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.inp-container input {
  padding: 15px 20px;
  margin-right: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
}

.inp-container button {
  padding: 8px 25px;
  background-color: rgb(20, 110, 207);
  color: white;
  border: none;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.list-conatiner {
  display: flex;
  margin:10px 0px;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  border: 1px solid gray;
  border-radius: 10px;
  background-color:#1E293B;
  width: 100%;
  color: white;
}

.list-conatiner button {
  padding: 5px 30px;
  background-color: rgb(20, 110, 207);
  color: white;
  border: none;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.btns {
  display: flex;
  gap: 20px;
}

#del {
  background-color: rgb(226, 36, 36);
}
